/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Светлая тема при принудительном переключении */
:root.theme-light {
  --page-background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --section-title-color: #353430;
  --link-shadow: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --decorated-zone-color: #353430;
  --section-subtitle-bg: #FF8DCB;
  --section-subtitle-color: #353430;
}

.rec {
  display: none;
}

.theme-dark .rec,
:root:not(.theme-light) .rec {
  display: block;
}

/* Авто-тема при светлых системных настройках */
@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url("../images/cover-image-light.png");
    --page-background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --title-color: #FFC2E6;
    --section-title-color: #353430;
    --link-shadow: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --decorated-zone-color: #353430;
    --section-subtitle-bg: #FF8DCB;
    --section-subtitle-color: #353430;
  }

  :root:not(.theme-dark) .rec {
    display: none;
  }
}


